.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App_form {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.App_button {
  background-color: #fff;
  color: #121212;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  width: 70px;
}

.App_input {
  padding: 5px 10px;
}

.input_stream {
  width: 100%;
  margin: 20px 0;
  padding: 10px 20px;
}

.tool_tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tool_tip .tool_tip_text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tool_tip:hover .tool_tip_text {
  visibility: visible;
}

thead tr th {
  font-size: 14px;
}
